h1 {
    font-size: 4rem;
}
button {
    width: 100px;
    padding: 20px 25px 20px 25px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: rgb(78, 78, 236);
    color: white;
}
body {
    background-color: #2f908a;
}